<% if @books.present? %>
 <% @books.each do |book| %>
  <div class="list">
    <% if book.item_url %>
     <% link_to (image_tag(book.item_url, style: "width: 70px; height: 100px; display: inline-block;")), book.url %>
     <% end %>
     <%= book.title %>
  </div>
  <% end %>
  <% end %>