<div class='container px-5 px-sm-0'>
  <div class='row justify-content-center'>
    <div class='col-md-8 offset-md-1 mt-3'>
     <h4 class="mt-2 mb-4">
      <b class="mr-4">投稿一覧</b>
     </h4>
      <%= link_to "新しい順", books_path(sort: 'created_at DESC') %> | <%= link_to "評価の高い順", books_path(sort: 'rate DESC') %>
      <%= render 'public/books/index', books: @books, page: @page, tags: @tags %>
    </div>
  </div>
</div>

